@import url('https://fonts.googleapis.com/css2?family=Federant&family=Indie+Flower&family=Titan+One&display=swap');

$fedora: "Federant", cursive;
$flower: "Indie Flower", Helvetica, Arial, sans-serif;
$titan: "Titan One", cursive;

$light: #f1f5f9;
$dark: #111;
$med: #7cd1f9;